body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
button {
    background-color: white;
    color: black;
    font-weight: 500;
    border-radius: 10px;
    padding: 15px 25px;
    border: 2px solid black;
    font-size: 15px;
}
button:hover {
    background-color: black;
    color: white;
}
#colorName {
     background-color: rgb(5, 5, 5);
    color: rgb(253, 250, 250);
    font-weight: 500;
    border-radius: 10px;
    padding: 15px 25px;
    border: 2px solid black;
    font-size: 15px;
}